# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
calculator/calculator
rest-api/rest-api
graphql-api/graphql-api
auth-system/auth-system
ecommerce-api/ecommerce-api
banking-api/banking-api
yios/yios
*.db
*.db-journal

# Test binary built for 'go test'
*.test

# Output of the go coverage tool
*.out

# Environment & Sensitive files
.env
*.pem
*.key

# Editor / OS files
.DS_Store
.vscode/
.idea/
*.swp
